{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <h5>Rooms</h5>
            <button type="button" class="btn btn-sm btn-primary float-right  js-add-room" data-toggle="modal" data-target="#new-room" data-url="{% url "add-room-admin" %}">add</button>
          </div>
          
        
              <table id="room-list" class="table table-striped">
                <thead>
                  <tr>
                    <th>Room NO</th>
                    <th>Capacity</th>
                    <th>Room Type</th>
                    <th>College</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  {% include "administrator/room/list_room.html" %}
                </tbody>
              </table>
            
          
        </div>
      </div>
      <div class="modal fade" id="new-room">
        <div class="modal-dialog">
          <div class="modal-content">
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
    </div>
  

{% endblock content %}
{% block extra_scripts %}

<!-- DataTables  & Plugins -->
<script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/jszip/jszip.min.js' %}"></script>
<script src="{% static 'plugins/pdfmake/pdfmake.min.js' %}"></script>
<script src="{% static 'plugins/pdfmake/vfs_fonts.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.colVis.min.js' %}"></script>
<!-- Page specific script -->

<script>

  $(function() 
  {
      var loadform = function() 
        {
          var btn = $(this);
          console.log(btn.attr("data-url"));
          $.ajax
          ({
            url: btn.attr('data-url'),
            type: 'get',
            dataType: 'json',
            beforeSend: function()
            {
                $("#new-room").modal("show");
            },
            success: function (data) {
                $("#new-room .modal-content").html(data.html_form);
            }
          });
        };

      var saveForm = function() 
        {
          var form = $(this);
          $.ajax
          ({
            url: form.attr("action"),
            data: form.serialize(),
            type: form.attr("method"),
            dataType: 'json',
            success: function (data) 
            {
              if (data.form_is_valid) 
              {
                $("#room-list tbody").html(data.department_list);
                $("#new-room").modal("hide");
              }
              else 
              {
                $("#new-room .modal-content").html(data.html_form);
              }
            }
          });
        return false;
        }

  //add room
  $(".js-add-room").click(loadform);
  $("#new-room").on("submit",".js-room-create-form", saveForm);
  //edit room
  $("#room-list").on("click", ".js-edit-room", loadform);
  $("#new-room").on("submit", ".js-room-edit-form", saveForm);
  //delete room
  $("#room-list").on("click", ".js-delete-room", loadform);
  $("#new-room").on("submit", ".js-room-delete-form", saveForm);
});

</script>
{% endblock extra_scripts %}